.icon.heart {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%20fill%3d%22rgb(196,31,59)%22%3E%3Cg%20data-name%3D%22Layer%202%22%3E%3Cpath%20d%3D%22M12%2021a1%201%200%2001-.71-.29l-7.77-7.78a5.26%205.26%200%20010-7.4%205.24%205.24%200%20017.4%200L12%206.61l1.08-1.08a5.24%205.24%200%20017.4%200%205.26%205.26%200%20010%207.4l-7.77%207.78A1%201%200%200112%2021z%22%20data-name%3D%22heart%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: center center;
  width: 48px;
  height: 48px;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
b,
big,
button,
i,
small,
tt,
abbr,
acronym,
cite,
code,
em,
strong,
a,
br,
img,
map,
object,
span,
sub,
sup,
input,
label,
select,
textarea {
  max-width: 55rem;
}
b.action,
big.action,
button.action,
i.action,
small.action,
tt.action,
abbr.action,
acronym.action,
cite.action,
code.action,
em.action,
strong.action,
a.action,
br.action,
img.action,
map.action,
object.action,
span.action,
sub.action,
sup.action,
input.action,
label.action,
select.action,
textarea.action {
  color: #bf1d39;
}
b.reaction,
big.reaction,
button.reaction,
i.reaction,
small.reaction,
tt.reaction,
abbr.reaction,
acronym.reaction,
cite.reaction,
code.reaction,
em.reaction,
strong.reaction,
a.reaction,
br.reaction,
img.reaction,
map.reaction,
object.reaction,
span.reaction,
sub.reaction,
sup.reaction,
input.reaction,
label.reaction,
select.reaction,
textarea.reaction {
  color: #4c7e10;
}
b.alternate,
big.alternate,
button.alternate,
i.alternate,
small.alternate,
tt.alternate,
abbr.alternate,
acronym.alternate,
cite.alternate,
code.alternate,
em.alternate,
strong.alternate,
a.alternate,
br.alternate,
img.alternate,
map.alternate,
object.alternate,
span.alternate,
sub.alternate,
sup.alternate,
input.alternate,
label.alternate,
select.alternate,
textarea.alternate {
  color: #147b9c;
}
b.info,
big.info,
button.info,
i.info,
small.info,
tt.info,
abbr.info,
acronym.info,
cite.info,
code.info,
em.info,
strong.info,
a.info,
br.info,
img.info,
map.info,
object.info,
span.info,
sub.info,
sup.info,
input.info,
label.info,
select.info,
textarea.info {
  color: #177ba0;
}
b.warning,
big.warning,
button.warning,
i.warning,
small.warning,
tt.warning,
abbr.warning,
acronym.warning,
cite.warning,
code.warning,
em.warning,
strong.warning,
a.warning,
br.warning,
img.warning,
map.warning,
object.warning,
span.warning,
sub.warning,
sup.warning,
input.warning,
label.warning,
select.warning,
textarea.warning {
  color: #94681e;
}
b.accent,
big.accent,
button.accent,
i.accent,
small.accent,
tt.accent,
abbr.accent,
acronym.accent,
cite.accent,
code.accent,
em.accent,
strong.accent,
a.accent,
br.accent,
img.accent,
map.accent,
object.accent,
span.accent,
sub.accent,
sup.accent,
input.accent,
label.accent,
select.accent,
textarea.accent {
  color: #466add;
}
b.success,
big.success,
button.success,
i.success,
small.success,
tt.success,
abbr.success,
acronym.success,
cite.success,
code.success,
em.success,
strong.success,
a.success,
br.success,
img.success,
map.success,
object.success,
span.success,
sub.success,
sup.success,
input.success,
label.success,
select.success,
textarea.success {
  color: #247d3c;
}
b.failure,
big.failure,
button.failure,
i.failure,
small.failure,
tt.failure,
abbr.failure,
acronym.failure,
cite.failure,
code.failure,
em.failure,
strong.failure,
a.failure,
br.failure,
img.failure,
map.failure,
object.failure,
span.failure,
sub.failure,
sup.failure,
input.failure,
label.failure,
select.failure,
textarea.failure {
  color: #c52c04;
}
b.highlight,
big.highlight,
button.highlight,
i.highlight,
small.highlight,
tt.highlight,
abbr.highlight,
acronym.highlight,
cite.highlight,
code.highlight,
em.highlight,
strong.highlight,
a.highlight,
br.highlight,
img.highlight,
map.highlight,
object.highlight,
span.highlight,
sub.highlight,
sup.highlight,
input.highlight,
label.highlight,
select.highlight,
textarea.highlight {
  color: #147979;
}
b.default,
big.default,
button.default,
i.default,
small.default,
tt.default,
abbr.default,
acronym.default,
cite.default,
code.default,
em.default,
strong.default,
a.default,
br.default,
img.default,
map.default,
object.default,
span.default,
sub.default,
sup.default,
input.default,
label.default,
select.default,
textarea.default {
  color: #5d7a68;
}
p.action,
ol.action,
ul.action,
pre.action,
address.action,
blockquote.action,
dl.action,
div.action,
fieldset.action,
form.action,
hr.action,
main.action,
section.action,
table.action {
  background-color: #c41e3a;
  color: #ffffff;
}
p.reaction,
ol.reaction,
ul.reaction,
pre.reaction,
address.reaction,
blockquote.reaction,
dl.reaction,
div.reaction,
fieldset.reaction,
form.reaction,
hr.reaction,
main.reaction,
section.reaction,
table.reaction {
  background-color: #5f9d15;
  color: #000000;
}
p.alternate,
ol.alternate,
ul.alternate,
pre.alternate,
address.alternate,
blockquote.alternate,
dl.alternate,
div.alternate,
fieldset.alternate,
form.alternate,
hr.alternate,
main.alternate,
section.alternate,
table.alternate {
  background-color: #157ea0;
  color: #ffffff;
}
p.info,
ol.info,
ul.info,
pre.info,
address.info,
blockquote.info,
dl.info,
div.info,
fieldset.info,
form.info,
hr.info,
main.info,
section.info,
table.info {
  background-color: #1a8db6;
  color: #000000;
}
p.warning,
ol.warning,
ul.warning,
pre.warning,
address.warning,
blockquote.warning,
dl.warning,
div.warning,
fieldset.warning,
form.warning,
hr.warning,
main.warning,
section.warning,
table.warning {
  background-color: #eca72f;
  color: #2f2109;
}
p.accent,
ol.accent,
ul.accent,
pre.accent,
address.accent,
blockquote.accent,
dl.accent,
div.accent,
fieldset.accent,
form.accent,
hr.accent,
main.accent,
section.accent,
table.accent {
  background-color: #4c72ef;
  color: #000000;
}
p.success,
ol.success,
ul.success,
pre.success,
address.success,
blockquote.success,
dl.success,
div.success,
fieldset.success,
form.success,
hr.success,
main.success,
section.success,
table.success {
  background-color: #3ed969;
  color: #0f3419;
}
p.failure,
ol.failure,
ul.failure,
pre.failure,
address.failure,
blockquote.failure,
dl.failure,
div.failure,
fieldset.failure,
form.failure,
hr.failure,
main.failure,
section.failure,
table.failure {
  background-color: #ca2e04;
  color: #ffffff;
}
p.highlight,
ol.highlight,
ul.highlight,
pre.highlight,
address.highlight,
blockquote.highlight,
dl.highlight,
div.highlight,
fieldset.highlight,
form.highlight,
hr.highlight,
main.highlight,
section.highlight,
table.highlight {
  background-color: #2bffff;
  color: #0d4d4d;
}
p.default,
ol.default,
ul.default,
pre.default,
address.default,
blockquote.default,
dl.default,
div.default,
fieldset.default,
form.default,
hr.default,
main.default,
section.default,
table.default {
  background-color: #6a8b77;
  color: #000000;
}
p.action,
ol.action,
ul.action,
pre.action,
address.action,
blockquote.action,
dl.action,
div.action,
fieldset.action,
form.action,
hr.action,
main.action,
section.action,
table.action,
p.reaction,
ol.reaction,
ul.reaction,
pre.reaction,
address.reaction,
blockquote.reaction,
dl.reaction,
div.reaction,
fieldset.reaction,
form.reaction,
hr.reaction,
main.reaction,
section.reaction,
table.reaction,
p.alternate,
ol.alternate,
ul.alternate,
pre.alternate,
address.alternate,
blockquote.alternate,
dl.alternate,
div.alternate,
fieldset.alternate,
form.alternate,
hr.alternate,
main.alternate,
section.alternate,
table.alternate,
p.info,
ol.info,
ul.info,
pre.info,
address.info,
blockquote.info,
dl.info,
div.info,
fieldset.info,
form.info,
hr.info,
main.info,
section.info,
table.info,
p.warning,
ol.warning,
ul.warning,
pre.warning,
address.warning,
blockquote.warning,
dl.warning,
div.warning,
fieldset.warning,
form.warning,
hr.warning,
main.warning,
section.warning,
table.warning,
p.accent,
ol.accent,
ul.accent,
pre.accent,
address.accent,
blockquote.accent,
dl.accent,
div.accent,
fieldset.accent,
form.accent,
hr.accent,
main.accent,
section.accent,
table.accent,
p.success,
ol.success,
ul.success,
pre.success,
address.success,
blockquote.success,
dl.success,
div.success,
fieldset.success,
form.success,
hr.success,
main.success,
section.success,
table.success,
p.failure,
ol.failure,
ul.failure,
pre.failure,
address.failure,
blockquote.failure,
dl.failure,
div.failure,
fieldset.failure,
form.failure,
hr.failure,
main.failure,
section.failure,
table.failure,
p.highlight,
ol.highlight,
ul.highlight,
pre.highlight,
address.highlight,
blockquote.highlight,
dl.highlight,
div.highlight,
fieldset.highlight,
form.highlight,
hr.highlight,
main.highlight,
section.highlight,
table.highlight,
p.default,
ol.default,
ul.default,
pre.default,
address.default,
blockquote.default,
dl.default,
div.default,
fieldset.default,
form.default,
hr.default,
main.default,
section.default,
table.default {
  padding: 1rem;
}
.feature {
  padding: 2rem;
  font-size: 150%;
  line-height: 1.5;
}
.text-center {
  text-align: center;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.hide,
.hidden {
  display: none !important;
}
.clearfix {
  clear: both;
}
.clearfix:after {
  display: block;
  clear: both;
  content: "";
}
body {
  background-color: #FFFDD0;
  color: #525143;
  background-attachment: fixed;
  padding-top: 5rem;
  padding-bottom: 5rem;
  -webkit-overflow-scrolling: touch;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  font-size: 16px;
  line-height: 25.888px;
}
@media screen and (min-width: 38rem) {
  body {
    font-size: 18px;
    line-height: 29.124px;
  }
}
@media screen and (min-width: 57rem) {
  body {
    font-size: 20px;
    line-height: 32.36px;
  }
}
main {
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 55rem;
}
@media screen and (min-width: 57rem) {
}
section {
  box-shadow: 0 1px 2px rgba(3, 3, 3, 0.25);
  padding: 0.5rem;
  background-color: white;
  color: #525252;
  border: 1px solid transparent;
  border-color: #8f8f8f;
  border-left-width: 0;
  border-right-width: 0;
  margin-bottom: 2rem;
}
@media screen and (min-width: 38rem) {
  section {
    padding: 1rem;
  }
}
@media screen and (min-width: 57rem) {
  section {
    border-width: 1px;
    padding: 2rem;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
  letter-spacing: -0.025em;
  color: inherit;
  max-width: 55rem;
  width: 100%;
}
p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
  margin-top: 1.5em;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 1rem;
}
h1 {
  font-size: 3em;
  line-height: 1.14;
}
h2 {
  font-size: 2.4em;
  line-height: 0.912;
}
h3 {
  font-size: 1.8em;
  line-height: 0.684;
}
h4 {
  font-size: 1.2em;
  line-height: 0.456;
}
h5 {
  font-size: 1.1em;
  line-height: 0.418;
}
h6 {
  font-size: 1em;
  line-height: 0.38;
}
p {
  margin-bottom: 1em;
}
a {
  color: #115c77;
}
form {
  padding: 1rem;
}
input {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  font-size: 20px;
  line-height: 32.36px;
  border: 1px solid #9c9c9c;
  border-radius: 8px;
  color: #424242;
  padding: 1rem;
}
input:focus {
  box-shadow: 0 0 2px #2bffff;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 3ch;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
ul {
  padding-left: 3ch;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
b {
  padding: 0.18em 0 0.22em 0;
}
button,
.button,
.pageBtn,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #9c9c9c;
  border-radius: 8px;
  font-size: 20px;
  box-shadow: 0 1px 2px rgba(3, 3, 3, 0.25);
  display: inline;
  border-color: #516a5a;
  color: white;
  background: #6a8b77;
  width: 100%;
  max-width: 36rem;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  border: 1px solid #696969;
  transform: scale(1);
  transition: 0.08s linear;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
button:focus,
.button:focus,
.pageBtn:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  color: white;
  background: #92aa9b;
}
button:active,
.button:active,
.pageBtn:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  color: white;
  background: #62806e;
}
button:focus,
.button:focus,
.pageBtn:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  box-shadow: 0 1px 2px rgba(3, 3, 3, 0.5);
}
button:active,
.button:active,
.pageBtn:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  transform: scale(0.98);
  box-shadow: 0 1px 1px rgba(3, 3, 3, 0.125);
}
@media screen and (min-width: 57rem) {
  button,
  .button,
  .pageBtn,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    width: auto;
    margin-right: 1ch;
  }
  button:last-child,
  .button:last-child,
  .pageBtn:last-child,
  input[type="button"]:last-child,
  input[type="reset"]:last-child,
  input[type="submit"]:last-child {
    margin-right: 0;
  }
}
button.action,
.button.action,
.pageBtn.action,
input[type="button"].action,
input[type="reset"].action,
input[type="submit"].action {
  border-color: #8d162a;
  color: white;
  background: #c41e3a;
}
button.action:focus,
.button.action:focus,
.pageBtn.action:focus,
input[type="button"].action:focus,
input[type="reset"].action:focus,
input[type="submit"].action:focus {
  color: white;
  background: #d45a6e;
}
button.action:active,
.button.action:active,
.pageBtn.action:active,
input[type="button"].action:active,
input[type="reset"].action:active,
input[type="submit"].action:active {
  color: white;
  background: #b21b35;
}
button.reaction,
.button.reaction,
.pageBtn.reaction,
input[type="button"].reaction,
input[type="reset"].reaction,
input[type="submit"].reaction {
  border-color: #487710;
  color: white;
  background: #5f9d15;
}
button.reaction:focus,
.button.reaction:focus,
.pageBtn.reaction:focus,
input[type="button"].reaction:focus,
input[type="reset"].reaction:focus,
input[type="submit"].reaction:focus {
  color: white;
  background: #91bc5e;
}
button.reaction:active,
.button.reaction:active,
.pageBtn.reaction:active,
input[type="button"].reaction:active,
input[type="reset"].reaction:active,
input[type="submit"].reaction:active {
  color: white;
  background: #579113;
}
button.alternate,
.button.alternate,
.pageBtn.alternate,
input[type="button"].alternate,
input[type="reset"].alternate,
input[type="submit"].alternate {
  border-color: #0f5d77;
  color: white;
  background: #157ea0;
}
button.alternate:focus,
.button.alternate:focus,
.pageBtn.alternate:focus,
input[type="button"].alternate:focus,
input[type="reset"].alternate:focus,
input[type="submit"].alternate:focus {
  color: white;
  background: #4d9db7;
}
button.alternate:active,
.button.alternate:active,
.pageBtn.alternate:active,
input[type="button"].alternate:active,
input[type="reset"].alternate:active,
input[type="submit"].alternate:active {
  color: white;
  background: #137393;
}
button.info,
.button.info,
.pageBtn.info,
input[type="button"].info,
input[type="reset"].info,
input[type="submit"].info {
  border-color: #146b8b;
  color: white;
  background: #1a8db6;
}
button.info:focus,
.button.info:focus,
.pageBtn.info:focus,
input[type="button"].info:focus,
input[type="reset"].info:focus,
input[type="submit"].info:focus {
  color: white;
  background: #5cadcb;
}
button.info:active,
.button.info:active,
.pageBtn.info:active,
input[type="button"].info:active,
input[type="reset"].info:active,
input[type="submit"].info:active {
  color: white;
  background: #1882a8;
}
button.warning,
.button.warning,
.pageBtn.warning,
input[type="button"].warning,
input[type="reset"].warning,
input[type="submit"].warning {
  border-color: #b88225;
  background-color: #eca72f;
  color: #130d04;
}
button.warning:focus,
.button.warning:focus,
.pageBtn.warning:focus,
input[type="button"].warning:focus,
input[type="reset"].warning:focus,
input[type="submit"].warning:focus {
  background-color: #f8dfb4;
  color: #373128;
}
button.warning:active,
.button.warning:active,
.pageBtn.warning:active,
input[type="button"].warning:active,
input[type="reset"].warning:active,
input[type="submit"].warning:active {
  background-color: #da9b2c;
  color: #000000;
}
button.accent,
.button.accent,
.pageBtn.accent,
input[type="button"].accent,
input[type="reset"].accent,
input[type="submit"].accent {
  border-color: #3855b1;
  color: white;
  background: #4c72ef;
}
button.accent:focus,
.button.accent:focus,
.pageBtn.accent:focus,
input[type="button"].accent:focus,
input[type="reset"].accent:focus,
input[type="submit"].accent:focus {
  color: white;
  background: #7a97f3;
}
button.accent:active,
.button.accent:active,
.pageBtn.accent:active,
input[type="button"].accent:active,
input[type="reset"].accent:active,
input[type="submit"].accent:active {
  color: white;
  background: #4569db;
}
button.success,
.button.success,
.pageBtn.success,
input[type="button"].success,
input[type="reset"].success,
input[type="submit"].success {
  border-color: #31aa52;
  background-color: #3ed969;
  color: #091e0f;
}
button.success:focus,
.button.success:focus,
.pageBtn.success:focus,
input[type="button"].success:focus,
input[type="reset"].success:focus,
input[type="submit"].success:focus {
  background-color: #d6f7df;
  color: #333b35;
}
button.success:active,
.button.success:active,
.pageBtn.success:active,
input[type="button"].success:active,
input[type="reset"].success:active,
input[type="submit"].success:active {
  background-color: #3aca61;
  color: #030c06;
}
button.failure,
.button.failure,
.pageBtn.failure,
input[type="button"].failure,
input[type="reset"].failure,
input[type="submit"].failure {
  border-color: #952203;
  color: white;
  background: #ca2e04;
}
button.failure:focus,
.button.failure:focus,
.pageBtn.failure:focus,
input[type="button"].failure:focus,
input[type="reset"].failure:focus,
input[type="submit"].failure:focus {
  color: white;
  background: #d86546;
}
button.failure:active,
.button.failure:active,
.pageBtn.failure:active,
input[type="button"].failure:active,
input[type="reset"].failure:active,
input[type="submit"].failure:active {
  color: white;
  background: #b82904;
}
button.highlight,
.button.highlight,
.pageBtn.highlight,
input[type="button"].highlight,
input[type="reset"].highlight,
input[type="submit"].highlight {
  border-color: #22cccc;
  background-color: #2bffff;
  color: #093838;
}
button.highlight:focus,
.button.highlight:focus,
.pageBtn.highlight:focus,
input[type="button"].highlight:focus,
input[type="reset"].highlight:focus,
input[type="submit"].highlight:focus {
  background-color: #95ffff;
  color: #243d3d;
}
button.highlight:active,
.button.highlight:active,
.pageBtn.highlight:active,
input[type="button"].highlight:active,
input[type="reset"].highlight:active,
input[type="submit"].highlight:active {
  background-color: #28eded;
  color: #082f2f;
}
button.default,
.button.default,
.pageBtn.default,
input[type="button"].default,
input[type="reset"].default,
input[type="submit"].default {
  border-color: #516a5a;
  color: white;
  background: #6a8b77;
}
button.default:focus,
.button.default:focus,
.pageBtn.default:focus,
input[type="button"].default:focus,
input[type="reset"].default:focus,
input[type="submit"].default:focus {
  color: white;
  background: #92aa9b;
}
button.default:active,
.button.default:active,
.pageBtn.default:active,
input[type="button"].default:active,
input[type="reset"].default:active,
input[type="submit"].default:active {
  color: white;
  background: #62806e;
}
button:focus,
.button:focus,
.pageBtn:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  outline: none;
}
button::-moz-focus-inner,
.button::-moz-focus-inner,
.pageBtn::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
  border: 0;
}
pre {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  background-color: #030303;
  color: #cdcdcd;
  padding: 1rem;
}
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  background-color: #363636;
  color: #a3a3a3;
  padding: 0.2em 1ch;
}
code.action,
code .action {
  color: #e28f9d;
  background: #363636;
}
code.reaction,
code .reaction {
  color: #7fb143;
  background: #363636;
}
code.alternate,
code .alternate {
  color: #67abc1;
  background: #363636;
}
code.info,
code .info {
  color: #59acca;
  background: #363636;
}
code.warning,
code .warning {
  color: #eda935;
  background: #363636;
}
code.accent,
code .accent {
  color: #86a0f4;
  background: #363636;
}
code.success,
code .success {
  color: #43da6c;
  background: #363636;
}
code.failure,
code .failure {
  color: #e28c75;
  background: #363636;
}
code.highlight,
code .highlight {
  color: #30ffff;
  background: #363636;
}
code.default,
code .default {
  color: #8fa899;
  background: #363636;
}
textarea {
  font-size: 20px;
  line-height: 32.36px;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  margin-bottom: 1rem;
  border: 1px solid #9c9c9c;
  border-radius: 8px;
  padding: 1rem;
  color: #424242;
}
textarea:focus {
  box-shadow: 0 0 2px #2bffff;
}
label.favorite {
  animation-delay: 0.3s;
  /* Hide the browser's default checkbox */
  /* Show the checkmark when checked */
}
label.favorite input {
  display: none;
}
label.favorite input:checked ~ .checkmark:after {
  content: '';
  display: inline-block;
  color: red;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%20fill%3d%22rgb(202,47,5)%22%3E%3Cg%20data-name%3D%22Layer%202%22%3E%3Cpath%20d%3D%22M12%2021a1%201%200%2001-.71-.29l-7.77-7.78a5.26%205.26%200%20010-7.4%205.24%205.24%200%20017.4%200L12%206.61l1.08-1.08a5.24%205.24%200%20017.4%200%205.26%205.26%200%20010%207.4l-7.77%207.78A1%201%200%200112%2021z%22%20data-name%3D%22heart%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: center center;
  width: 48px;
  height: 48px;
  cursor: pointer;
}
label.favorite input ~ .checkmark {
  font-size: 2em;
  line-height: 1;
  padding: 5px;
  /* Create the checkmark/indicator (hidden when not checked) */
}
label.favorite input ~ .checkmark:after {
  content: "";
  color: black;
  display: inline-block;
  color: red;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%20fill%3d%22rgb(206,206,206)%22%3E%3Cg%20data-name%3D%22Layer%202%22%3E%3Cpath%20d%3D%22M12%2021a1%201%200%2001-.71-.29l-7.77-7.78a5.26%205.26%200%20010-7.4%205.24%205.24%200%20017.4%200L12%206.61l1.08-1.08a5.24%205.24%200%20017.4%200%205.26%205.26%200%20010%207.4l-7.77%207.78A1%201%200%200112%2021z%22%20data-name%3D%22heart%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: center center;
  width: 48px;
  height: 48px;
  cursor: pointer;
}
#menu {
  position: fixed;
  bottom: 0;
  background-color: #c41e3a;
  width: 100%;
}
#menu #menu-header {
  padding: 10px;
  display: flex;
  user-select: none;
  box-shadow: 0px 3px 5px -5px black;
  color: #ffffff;
}
#menu #menu-button {
  flex: 0 0 auto;
}
#menu #menu-title {
  flex: 1 1 auto;
  text-align: center;
}
#menu #menu-notification {
  flex: 0 0 auto;
}
#menu #menu-content {
  height: 0;
  overflow: auto;
  transition: height 0.2s;
  max-height: 75vh;
}
#menu #menu-content section {
  padding: 15px 15px 0 15px;
}
#menu #menu-content h3 {
  margin: 5px;
}
#menu #menu-content p {
  line-height: 3;
}
#menu #menu-content hr {
  margin-bottom: 1rem;
}
#menu-btn {
  cursor: pointer;
}
#page-content {
  padding-bottom: 3em;
  max-width: 55rem;
  margin: 0 auto;
}
#page-content section {
  display: none;
}
#page-content blockquote {
  position: relative;
  min-height: 100px;
  border-color: #c41e3a;
  padding-left: 1rem;
  padding-right: 60px;
  border-left: 0.5em solid #c41e3a;
  margin-bottom: 1rem;
}
#page-content blockquote > aside {
  width: auto!important;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  margin-bottom: 0;
}
#page-content ul {
  list-style-type: none;
  padding: 0;
}
#page-content ul li {
  text-align: center;
  font-size: 1.6em;
  line-height: 66px;
}
:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}
.animated {
  animation-duration: var(--animate-duration);
  animation-fill-mode: both;
}
.animated.infinite {
  animation-iteration-count: infinite;
}
.animated.repeat-1 {
  animation-iteration-count: var(--animate-repeat);
}
.animated.repeat-2 {
  animation-iteration-count: calc(var(--animate-repeat) * 2);
}
.animated.repeat-3 {
  animation-iteration-count: calc(var(--animate-repeat) * 3);
}
.animated.delay-1s {
  animation-delay: var(--animate-delay);
}
.animated.delay-2s {
  animation-delay: calc(var(--animate-delay) * 2);
}
.animated.delay-3s {
  animation-delay: calc(var(--animate-delay) * 3);
}
.animated.delay-4s {
  animation-delay: calc(var(--animate-delay) * 4);
}
.animated.delay-5s {
  animation-delay: calc(var(--animate-delay) * 5);
}
.animated.faster {
  animation-duration: calc(var(--animate-duration) / 2);
}
.animated.fast {
  animation-duration: calc(var(--animate-duration) * 0.8);
}
.animated.slow {
  animation-duration: calc(var(--animate-duration) * 2);
}
.animated.slower {
  animation-duration: calc(var(--animate-duration) * 3);
}
@media print, (prefers-reduced-motion: reduce) {
  .animated {
    animation-duration: 1ms !important;
    transition-duration: 1ms !important;
    animation-iteration-count: 1 !important;
  }
  .animated[class*='Out'] {
    opacity: 0;
  }
}
@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.3);
  }
  28% {
    transform: scale(1);
  }
  42% {
    transform: scale(1.3);
  }
  70% {
    transform: scale(1);
  }
}
.heartBeat {
  animation-name: heartBeat;
  animation-duration: calc(var(--animate-duration) * 1.3);
  animation-timing-function: ease-in-out;
}
/* CSS files add styling rules to your content */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5em;
}
body {
  background-color: #FFFDD0;
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20width%3D%2230px%22%20height%3D%2230px%22%20viewBox%3D%220%200%2030%2030%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3C!--%20Generator%3A%20Sketch%2040%20(33762)%20-%20http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%20--%3E%0A%20%20%20%20%3Ctitle%3Efloor-tile%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%0A%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22floor-tile%22%20fill%3D%22rgb(240,238,196)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M0%2C10%20L10%2C10%20L10%2C20%20L0%2C20%20L0%2C10%20Z%20M10%2C0%20L20%2C0%20L20%2C10%20L10%2C10%20L10%2C0%20Z%22%20id%3D%22Combined-Shape%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
  background-position: center center;
}
hr {
  background-color: #c41e3a;
  border-color: #c41e3a;
  margin-bottom: 2rem;
}
.button {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.heavy {
  font-weight: bold;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(3, 3, 3, 0.5);
  z-index: 1000;
  display: none;
}
